@import "./globals.scss";

/* BASICS */

:global(.CodeMirror) {
    --undefined: #ff0000;
    --selection-opacity: 0.15;
    --selected-line-opacity: 0.1;
    width: 100%;
    height: 100%;
    direction: ltr;
}

/* PADDING */

:global(.CodeMirror-lines) {
    padding: 4px 0; /* Vertical padding around content */
}

:global(.CodeMirror pre) {
    padding: 0 4px; /* Horizontal padding of content */
}

:global(.CodeMirror-scrollbar-filler),
:global(.CodeMirror-gutter-filler) {
    background-color: var(
        --undefined
    ); /* The little square between H and V scrollbars */
}

/* GUTTER */

:global(.CodeMirror-gutters) {
    background-color: var(--bg-color);
    transition: background-color $transition-time;
    white-space: nowrap;
}

:global(.CodeMirror-linenumber) {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: var(--comment-color);
    white-space: nowrap;
}

:global(.CodeMirror-guttermarker) {
    color: var(--undefined);
}

:global(.CodeMirror-guttermarker-subtle) {
    color: var(--undefined);
}

/* FOLD GUTTER */

:global(.CodeMirror-foldmarker) {
    color: #414141;
    text-shadow: var(--undefined) 1px 1px 2px, var(--undefined) -1px -1px 2px,
        var(--undefined) 1px -1px 2px, var(--undefined) -1px 1px 2px;
    font-family: arial;
    line-height: 0.3;
    cursor: pointer;
}

:global(.CodeMirror-foldgutter) {
    width: 0.7em;
}

:global(.CodeMirror-foldgutter-open),
:global(.CodeMirror-foldgutter-folded) {
    cursor: pointer;
}

:global(.CodeMirror-foldgutter-open:after),
:global(.CodeMirror-foldgutter-folded:after) {
    content: ">";
    font-size: 0.8em;
    opacity: 0.8;
    transition: transform 0.2s;
    display: inline-block;
    top: -0.1em;
    position: relative;
    transform: rotate(90deg);
}

:global(.CodeMirror-foldgutter-folded:after) {
    transform: none;
}

/* CURSOR */

:global(.CodeMirror-cursor) {
    border-left: 2px solid var(--fg-color);
    border-right: none;
    width: 0;
}

/* Shown when moving in bi-directional text */
:global(.CodeMirror div.CodeMirror-secondarycursor) {
    border-left: 1px solid var(--undefined);
}

:global(.cm-fat-cursor .CodeMirror-cursor) {
    width: auto;
    border: 0 !important;
    background: var(--undefined);
}

:global(.cm-fat-cursor div.CodeMirror-cursors) {
    z-index: 1;
}

:global(.cm-fat-cursor-mark) {
    background-color: var(--undefined);
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
}

:global(.cm-animate-fat-cursor) {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: var(--undefined);
}

@-moz-keyframes blink {
    0% {
    }
    50% {
        background-color: transparent;
    }
    100% {
    }
}

@-webkit-keyframes blink {
    0% {
    }
    50% {
        background-color: transparent;
    }
    100% {
    }
}

@keyframes blink {
    0% {
    }
    50% {
        background-color: transparent;
    }
    100% {
    }
}

:global(.cm-tab) {
    display: inline-block;
    text-decoration: inherit;
}

:global(.CodeMirror-rulers) {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: -20px;
    overflow: hidden;
}

:global(.CodeMirror-ruler) {
    border-left: 1px solid var(--undefined);
    top: 0;
    bottom: 0;
    position: absolute;
}

/* DEFAULT THEME */

:global(.cm-s-default .cm-comment) {
    color: var(--comment-color);
}

:global(.cm-s-default .cm-nonterminal) {
    color: var(--accent-color);
    font-weight: bolder;
}

:global(.cm-s-default .cm-number) {
    color: var(--number-color);
}

:global(.cm-s-default .cm-string) {
    color: var(--string-color);
}

:global(.cm-s-default .cm-bracket),
:global(.cm-s-default .cm-punctuation) {
    color: var(--fg-color);
}

:global(.CodeMirror-composing) {
    border-bottom: 2px solid;
}

/* Default styles for common addons */

:global(div.CodeMirror span.CodeMirror-matchingbracket) {
    color: var(--undefined);
}

:global(div.CodeMirror span.CodeMirror-nonmatchingbracket) {
    color: var(--undefined);
}

:global(.CodeMirror-matchingtag) {
    background: var(--undefined);
}

:global(.CodeMirror-activeline-background) {
    background: var(--fg-color);
    opacity: var(--selected-line-opacity);
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

:global(.CodeMirror) {
    position: relative;
    overflow: hidden;
    background: var(--bg-color);
    transition: background $transition-time;
}

:global(.CodeMirror-scroll) {
    overflow: scroll !important; /* Things will break if this is overridden */
    /* 30px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none; /* Prevent dragging from highlighting the element */
    position: relative;
    /* background-color: rgb(40, 40, 40); */
}

:global(.CodeMirror-sizer) {
    position: relative;
    border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
:global(.CodeMirror-vscrollbar),
:global(.CodeMirror-hscrollbar),
:global(.CodeMirror-scrollbar-filler),
:global(.CodeMirror-gutter-filler) {
    position: absolute;
    z-index: 6;
    display: none;
    outline: none;
}

:global(.CodeMirror-vscrollbar) {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

:global(.CodeMirror-hscrollbar) {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

:global(.CodeMirror-scrollbar-filler) {
    right: 0;
    bottom: 0;
}

:global(.CodeMirror-gutter-filler) {
    left: 0;
    bottom: 0;
}

:global(.CodeMirror-gutters) {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 3;
}

:global(.CodeMirror-gutter) {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px;
}

:global(.CodeMirror-gutter-wrapper) {
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important;
}

:global(.CodeMirror-gutter-background) {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
}

:global(.CodeMirror-gutter-elt) {
    position: absolute;
    cursor: default;
    z-index: 4;
}

:global(.CodeMirror-gutter-wrapper ::selection) {
    background-color: transparent;
}

:global(.CodeMirror-gutter-wrapper ::-moz-selection) {
    background-color: transparent;
}

:global(.CodeMirror-lines) {
    cursor: text;
    min-height: 1px; /* prevents collapsing before first draw */
}

:global(.CodeMirror pre) {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
}

:global(.CodeMirror-wrap pre) {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

:global(.CodeMirror-linebackground) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

:global(.CodeMirror-linewidget) {
    position: relative;
    z-index: 2;
    padding: 0.1px; /* Force widget margins to stay inside of the container */
}

:global(.CodeMirror-rtl pre) {
    direction: rtl;
}

:global(.CodeMirror-code) {
    outline: none;
}

/* Force content-box sizing for the elements where we expect it */
:global(.CodeMirror-scroll),
:global(.CodeMirror-sizer),
:global(.CodeMirror-gutter),
:global(.CodeMirror-gutters),
:global(.CodeMirror-linenumber) {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

:global(.CodeMirror-measure) {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

:global(.CodeMirror-cursor) {
    position: absolute;
    pointer-events: none;
}

:global(.CodeMirror-measure pre) {
    position: static;
}

:global(div.CodeMirror-cursors) {
    visibility: hidden;
    position: relative;
    z-index: 3;
}

:global(div.CodeMirror-dragcursors) {
    visibility: visible;
}

:global(.CodeMirror-focused div.CodeMirror-cursors) {
    visibility: visible;
}

:global(.CodeMirror-selected) {
    background: var(--fg-color);
    opacity: var(--selection-opacity);
}

:global(.CodeMirror-focused .CodeMirror-selected) {
    background: var(--fg-color);
    opacity: var(--selection-opacity);
}

:global(.CodeMirror-crosshair) {
    cursor: crosshair;
}

:global(.CodeMirror-line::selection),
:global(.CodeMirror-line > span::selection),
:global(.CodeMirror-line > span > span::selection) {
    background: var(--fg-color);
    opacity: var(--selection-opacity);
}

:global(.CodeMirror-line::-moz-selection),
:global(.CodeMirror-line > span::-moz-selection),
:global(.CodeMirror-line > span > span::-moz-selection) {
    background: var(--fg-color);
    opacity: var(--selection-opacity);
}

:global(.cm-searching) {
    background-color: var(--undefined);
    background-color: var(--undefined);
}

/* Used to force a border model for a node */
:global(.cm-force-border) {
    padding-right: 0.1px;
}

@media print {
    /* Hide the cursor when printing */
    :global(.CodeMirror div.CodeMirror-cursors) {
        visibility: hidden;
    }
}

/* See issue #2901 */
:global(.cm-tab-wrap-hack:after) {
    content: "";
}

/* Help users use markselection to safely style text background */
:global(span.CodeMirror-selectedtext) {
    background: none;
}

/* LINTING */

/* The lint marker gutter */
:global(.CodeMirror-lint-markers) {
    width: 16px;
}

:global(.CodeMirror-lint-tooltip) {
    background-color: var(--undefined);
    border: 1px solid var(--undefined);
    color: var(--undefined);
    font-family: monospace;
    font-size: 10pt;
    overflow: hidden;
    padding: 8px 8px;
    position: fixed;
    white-space: pre;
    white-space: pre-wrap;
    z-index: 100;
    max-width: 600px;
    opacity: 0;
}

:global(.CodeMirror-lint-mark-error),
:global(.CodeMirror-lint-mark-warning) {
    background-position: left bottom;
    background-repeat: repeat-x;
}

:global(.CodeMirror-lint-mark-error) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
}

:global(.CodeMirror-lint-mark-warning) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
}

:global(.CodeMirror-lint-marker-error),
:global(.CodeMirror-lint-marker-warning) {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: relative;
}

:global(.CodeMirror-lint-message-error),
:global(.CodeMirror-lint-message-warning) {
    padding-left: 18px;
    background-position: top left;
    background-repeat: no-repeat;
}

:global(.CodeMirror-lint-marker-error),
:global(.CodeMirror-lint-message-error) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=");
}

:global(.CodeMirror-lint-marker-warning),
:global(.CodeMirror-lint-message-warning) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=");
}

:global(.CodeMirror-lint-marker-multiple) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAACVBMVEUAAAAAAAC/v7914kyHAAAAAXRSTlMAQObYZgAAACNJREFUeNo1ioEJAAAIwmz/H90iFFSGJgFMe3gaLZ0od+9/AQZ0ADosbYraAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 100%;
}
